* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content-container {
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);
}

#posted-time > p {
    display: flex;
    justify-content: center;
}

/* having troubles aligning the posted-time section lower, why? */